DATABASE_URL_ETL=postgresql://etl_user:PASSWORT@ep-xxx.neon.tech/neondb?sslmode=require
DATABASE_URL_DS=postgresql://ds_user:PASSWORT@ep-xxx.neon.tech/neondb?sslmode=require
DATABASE_URL_READONLY=postgresql://readonly_user:PASSWORT@ep-xxx.neon.tech/neondb?sslmode=require

# futureEXPERT (prognostica) – für models(Nico)/futureexpert_forecast.py
FUTURE_USER=dein-benutzername
FUTURE_PW=dein-passwort

LIBRARY_LAT=49.7806
LIBRARY_LON=9.9718
LIBRARY_NAME=Stadtteilbücherei Hubland Würzburg