# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# Dependencies
node_modules/

# Build output
dist/
build/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
venv/